<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connections</title>
    <style>:root {
        --blue: #0077b5;
    }
    
    body {
        margin: 0px;
        padding: 0px;
    }
    
    a {
        color: var(--blue);
    }
    
    #nav {
        display: none;
    }
    
    #body {
        display: grid;
        grid-template-areas: "img signin";
        grid-template-columns: 1fr 1fr;
        width: 100vw;
        height: 100vh;
    }
    
    
    #body img {
        grid-area: img;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    #body form {
        grid-area: signin;
        padding: 10%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    #body form div {
        width: 400px;
    }
    
    #body form div i {
        display: block;
        color: var(--blue);
        font-size: 80px;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    
    #body form input {
        width: 100%;
        padding: 2px;
        margin: 10px auto;
        font-size: 18px;
        border: 0px;
        border-bottom: 4px solid var(--blue);
    }
    
    #body form button {
        width: 101%;
        padding: 5px;
        margin: 2px auto;
        font-size: 18px;
        border: 0px;
        background: var(--blue);
        color: white;
    }
    
    #error-code {
        color: red;
        font-family: "Arial";
        text-align: center;
        font-size: 12px;
    }</style>
</head>

<script src="https://kit.fontawesome.com/8dc5063b50.js" crossorigin="anonymous"></script>

<body>
    <div id="nav">
        <div class="logo">
            <h1 class="gradient">The 100%</h1>
            <p>Boost Your Career</p>
        </div>
    </div>

    <div id="body">
        <img src="./media/login.jpg">
        <form method = "POST" action = "/login">
            <div>
                <i class="fa-solid fa-user"></i>
                <input type="text" id="username" placeholder=" Username" name="username" required> <br>
                <input placeholder=" Password" id="password" name="password" type="password" required> <br>

                <button id="logon">Login</button>
                <p>Don't Have an Account? <a class="blue-link selected" id="signup" href="/signup"> Sign Up!</a></p>
                <error id="error-code"><%- errormsg %></error>
            </div>
        </form>
    </div>
</body>

</html>